1_.bedgraph
chr6_windows.bed
compiling_hmmlearn
coverage.pyc
cython_tests
DA01_K27ac_K4me3
dane_symulowane
data2.pyc
data.pyc
DNase_wyniki
dziwny_pik_u_Bonesa.fasta
finding_p.py
finding_r.py
GB01_K27ac_K4me3
generated_emissions.bedgraph
generated_states.bedgraph
generate_simulated_emissions_and_test.py
generate_simulated_emissions.py
H3K27ac_grades
h3k4me3
H3K4me3_grades
hmmlearn_testing
HMM_on_generated_emissions_all_states.bed
HMM_on_generated_emissions.log
HMM_on_generated_emissions_state_0.bed
HMM_on_generated_emissions_state_1.bed
HMM_on_generated_emissions_stats.txt
KOPIA
KOPIA2
listy_plikow
log
model.pyc
NB_parameters_estimation
NB_vs_Gauss
niewiemcoto_jakiestestycovars.py
nohup.out
nowy_hmmlearn
PA01_K27ac_K4me3
PA_K27ac_K4me3
peakcaller.pyc
pokrycia_na_pikach
__pycache__
raport.err
raport.tab
reading_bams.py
reading_beds.py
release_190226.zip
rozne_outputy
sesja_rozne_testy.py
skrypty
some_testing.py
symulowanie_odczytow
test1.bedgraph
test.bam.bai
test_bam.bedgraph
testowanie_czytania_bama
testowanie_czytania_bamow.py
testowanie_gauss.py
testowanie_gauss.pyc
testowanie_nb.py
testowanie_nb.pyc
testowanie.pyc
test.sam
TEST_V1
TEST_V2
TEST_V3
test_with_unfixed_resolution.bedgraph
tmp.bed
todo
usunto_all_states.bed
usunto.log
usunto_state_0.bed
usunto_state_1.bed
usunto_state_2.bed
usunto_stats.txt
WERSJA_W_KTOREJ_DZIALA_NB
hmmlearn/base.pyc
hmmlearn/DZIALAJACA_WERSJA_P27
hmmlearn/finding_r.pyc
hmmlearn/finding_r.py_kopia
hmmlearn/hmm_copy.py
hmmlearn/hmm.pyc
hmmlearn/__init__.pyc
hmmlearn/kompilowanie_od_zera
hmmlearn/mynumpy.pyc
hmmlearn/nowe_hmmc
hmmlearn/nowe_hmmlearn
hmmlearn/ORYGINAL_hmmc.so_NIE_USUWAJ
hmmlearn/__pycache__
hmmlearn/python27_version
hmmlearn/tests
hmmlearn/tmptmp
hmmlearn/utils.pyc
hmmlearn/WAZNE
logging_testing
1.py
2.py
ATACseq/
H3K27me3/
NB_testing_easy_simulation/
TMP_logging_test_0.log
calculate_coverages_on_peaks_and_background.sh
checking_various_decreasing_logprob_cases/
decreasing_logprob/
derivative.py
derivative_vs_logprob/
failed_simulations/
generated_0.bed
generated_1.bed
generated_emissions_NB.bedgraph
generated_states_NB.bed
generated_states_NB.bedgraph
hmmlearn/finding_r.pyKOPIA
hmmlearn/testing_finding_r.py
logging_testing_tmp.py
prepare_bedgraph_from_failed_emissions.sh
raports_and_scripts_from_simulations/
simple_NB_case_attempt_n.py
simulations/
simulations_debug/
test_tmp
tmp.py
gauss_covariance_testing/
gauss_decreasing_logprob_ATACseq/
kolejny_test_z_logprob/
macsy_tsv_tmp
notatki
why_so_slow/
linki
gauss_logprob/
gauss_testing/
generate_and_test_gauss.py
generate_gauss.py
likelihood_test/
release_200923.zip
3.bedgraph
TMP/
proba_means.py
proba_means2.py
usunto_state_3.bed
usunto_state_4.bed
grouped_samples_testing/
testowanie_sprawdzania_istotnosci/
old_README.md
usunto_peaks.bed
